.navbar-brand{
  color: green;
}
body{
  background-color: #D1E7FE;
}
p{
  color: rgb(65, 63, 63);
  font-size: 14px;
}
#hello{
  color: #413077;

}
#search{
  color: #413077;
  background-color: #63C9D4;
}
#award{
  color: #413077;
  font-size: 30px;
  font-family: 'Tangerine',sans-serif;
  font-weight: 900;

}
#home{
  color: rgb(19, 18, 18);
  font-size: 30px;
}
#span{
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
 letter-spacing: 4px;
 text-align: center;
 font-size: 30px;
 font-weight: 900;
 color: #2F2E74;
 font-family: 'Tangerine',sans-serif;
}
#title{
  font-size: 24px;
  font-weight: 600;
  color: rgb(2, 31, 31);
  font-family: "Sofia", sans-serif;
  letter-spacing: 1px;
  
}
#btn{
  width: 100px;
  border-radius: 30px;
  margin-left: 50%;
  border: #37AEC1;
  background-color: #3CB9CA;
  color: #914593;
  height: 35px;
}
#btn:hover {
  background-color: cyan;
}
.btn-outline:hover{
  background-color: cyan;
}

.navbar-dark{
  background-color: #8CD7E2;
  color: #F8C9DC;
}
.navbar-brand {
  color: #F8C9DC;
}

.attrib {
  font-weight: 400;
  color: #EFF1F3;
}

.rating,
.rating1,
.rating2,
.rating3 {
  color: white;
  border-radius: 50%;
  width: 40%;
  height: 70%;
  padding-top: 5%;
  margin-left: 28%;
}

.rating {
  border: 4px solid rgb(247, 168, 22);
}

.rating1 {
  border: 4px solid #FF6B6B;
}

.rating2 {
  border: 4px solid rgb(18, 18, 240);
}

.rating3 {
  border: 4px solid #78bc61;
}

.site-link {
  padding-top: -20px !important;
  padding-left: -5px !important;
  padding-right: -5px !important;
}

.rate,
.rate1,
.rate2,
.rate3 {
  border-radius: 50%;
  width: 40%;
  height: 70%;
  color: black;
  margin-top: 5%;
  padding: 6%;
}

.rate {
  border: 4px solid rgb(247, 168, 22);
}

.rate1 {
  border: 4px solid #FF6B6B;
}

.rate2 {
  border: 4px solid rgb(18, 18, 240);
}

.rate3 {
  border: 4px solid #78bc61;
}

.attrib1 {
  font-weight: 400;
  color: black;
}